



<div class="container">

  <div class="col-md-12 col-sm-12">
    <div class="row">

      <div class="col-md-6 col-sm-6">
        <div>
          <ul style="list-style:none">
            <li><button type="button"  class="btn btn-outline-primary"><a style="text-decoration: none" routerLink="pageone">PageOne</a></button></li><br>
        <li><button type="button"  class="btn btn-outline-primary"><a style="text-decoration: none" routerLink="pagetwo">PageTwo</a></button></li><br>
          <li> <button type="button"  class="btn btn-outline-primary"><a  style="text-decoration: none" routerLink="pagethree">PageThree</a></button></li><br>
          </ul>


        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>



