/* You can add global styles to this file, and also import other style files */
.text_header
{

  border:1px solid black;
padding:25px;
}
.page_one
{

  background-color: aqua;
  padding:50px;
}

.page_two
{

  background-color:red;
  padding:50px;
  color:#ffffff;
}

.page_three
{

  background-color: darkcyan;
  padding:50px;
}
